<%- include("header")-%>
   <div class="maincontainer">
    <% if(listTitle==="weekend"){ %>
        <h1 style="color: blue;">T<%= listTitle %> </h1>
        <%  } else{ %>
        <h1 style="color: green;"> <%= listTitle %> </h1>
        <%  }  %>
    
           
        <%        newListItems.forEach((element)=>{%>
            <form action="/delete" method="post" >
                <input type="checkbox" value="<%=element._id%>" onChange="this.form.submit()" name="checkbox">
        <p><%= element.name %></p>
            </form>
        
        <% }  )  %>
                   
            
                

        <form action="/" method="post">
            <input type="text" id="todo" name="newItem">
            <button type="submit" name="list" value=<%= listTitle%>>click</button>
        </form>
   </div>
   <%- include("footer")-%>